#include "Generated.xcconfig"

// Release optimizations
SWIFT_OPTIMIZATION_LEVEL = -O
SWIFT_COMPILATION_MODE = wholemodule
GCC_OPTIMIZATION_LEVEL = s
ENABLE_BITCODE = NO
STRIP_INSTALLED_PRODUCT = YES
COPY_PHASE_STRIP = YES
DEBUG_INFORMATION_FORMAT = dwarf
VALIDATE_PRODUCT = YES
DEPLOYMENT_POSTPROCESSING = YES